body { margin: 0; padding: 0; }
#map {  
  width: 80%;
  height: 70%;
  left: 10%;
  }

.calculation-box {
height: auto;
width: 15%;
position: fixed;
bottom: 15%;
left: 3%;
background-color: rgba(255, 255, 255, 0.9);
padding: 15px;
text-align: center;
}
 
p {
font-family: 'Open Sans';
margin: 0;
font-size: 13px;
}
