body {
  position:fixed;
  top:0%;
  bottom:0%;
  left:0%;
  right:0%;
  background: url("./img/background.jpg") no-repeat center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: rgb(252, 252, 252)
}

#map {  
  width: 78%;
  height: 70%;
  left: 15%;
  }

.calculation-box {
height: auto;
width: 18%;
position: fixed;
bottom: 2%;
left: 2%;
background-color: rgba(255, 255, 255, 0.9);
padding: auto;
text-align: center;
}

.guide-box {
  height: 47vh;
  width: 18%;
  position: fixed;
  top: 7%;
  left: 2%;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px;
  text-align: left;
  display: flex;
  flex-direction: column;
  }
 
p {
font-family: 'Open Sans';
margin: 0;
font-size: 12px;
overflow: auto;
}

footer {
  color: white;
}

@media (min-width: 992px) {
  div.masthead {
    height: 100vh;
    min-height: 40rem;
    padding-top: 4.5rem;
    padding-bottom: 0;
  }
}

.justify-content-center {
  justify-content: center !important;
}

.align-items-center {
  align-items: center !important;
}

.text-center {
  text-align: center !important;
}

.h-100 {
  height: 120% !important;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}

#dropdown-item-button {
  background-color:rgb(247, 182, 4);
  border-color: rgba(8, 8, 8, 0.9);
  color:black;
  box-shadow: 0px 0px 3px #000;
}

#dropdown-item-button:hover {
  border-color: rgba(255, 255, 255, 0.9);
  color:rgb(255, 255, 255);
  box-shadow: 0px 0px 23px #ffffff;
}

.distance-container {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
  }
   
  .distance-container > * {
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 11px;
  line-height: 18px;
  display: block;
  margin: 0;
  padding: 5px 10px;
  border-radius: 3px;
  }

  #menu {
    height: 5%;
    width: 18%;
    position: fixed;
    top: 20%;
    right: 15%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    background: #efefef;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    margin-right: 10%;
    overflow: auto;
    }

    label{
      margin-right: 1%;
    }

    .map-overlay {
      font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
      position: absolute;
      width: 60%;
      top: 0;
      left: -3%;
      padding: 10px;
      margin-top: 130%;
      overflow: auto;
      }
       
      .map-overlay .map-overlay-inner {
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
      border-radius: 3px;
      padding: 10px;
      margin-bottom: 10px;
      }
       
      .map-overlay-inner fieldset {
      border: none;
      padding: 0;
      margin: 0 0 10px;
      }
       
      .map-overlay-inner fieldset:last-child {
      margin: 0;
      }
       
      .map-overlay-inner select {
      width: 100%;
      }
       
      .map-overlay-inner label {
      display: block;
      font-weight: bold;
      margin: 0 0 5px;
      }
       
      .map-overlay-inner button {
      display: inline-block;
      width: 36px;
      height: 20px;
      border: none;
      cursor: pointer;
      }
       
      .map-overlay-inner button:focus {
      outline: none;
      }
       
      .map-overlay-inner button:hover {
      box-shadow: inset 0 0 0 3px rgba(0, 0, 0, 0.1);
      }

      .flex-wrapper{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }


